body{
    background-image: url('sarahbrown.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1.0;

    font-family: Arial, sans-serif;
    margin: 30px;
    padding: 0;
}


.h1Text {
    padding: 20px;
    margin: 20px 0;
    color: green;
}

#section1 {
    background-color: #0779ad;
}

#section2 {
    background-color: #eaff5f;
}

#section3 {
    background-color: #00bd00;
}
